.FormDiv {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;        width: 100%;

}

.FormDiv label {
    font-size: 1.2rem;
    font-weight: bold;
}

.FormDiv input {
    width: 100%;
    height: 1.4rem;
    border-radius: 10px;
    border: solid 1px #4545;
    padding: 14px;
}